<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
</head>
<body>
     {{ partial "header" (dict "Kind" .Kind "Template" "Data") }}


     <div style="margin:25px;">
          <h1>{{.Title}}</h1>
          <div style="color:grey; font-size:16px;"> Last Update {{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
          <div style="color:grey; font-size:16px;">{{if .Params.city}}City: {{.Params.Title}}{{end}}</div>
          <div style="font-size:18px;">{{.Content}}</div>

          Current Covid 19 graphs for {{.Params.Title}}<br>
          
          {{ $city := .Params.City }}

          {{ $daily_case_path := "daily_cases.png" }}
          {{ $cumulative_cases_path := "cumulative_cases.png" }}
          {{ $cumulative_cases_log_path := "cumulative_cases_log.png" }}
          {{ $weekly_case_csv_path := "weekly_delta_data.csv" }}

          {{ $daily_case := print "/" $city "/" $daily_case_path }}
          {{ $cumulative_cases := print "/" $city "/" $cumulative_cases_path }}
          {{ $cumulative_cases_log := print "/" $city "/" $cumulative_cases_log_path }}
          {{ $weekly_case_csv := print "/static/" $city "/" "weekly_delta_data.csv" }}
        
          
          Current Total Covid cases in {{ .Params.Title }} : {{ (index .Site.Data $city).total_cases }}

        
          <div><a href="{{ $daily_case }}"><img src="{{ $daily_case }}" width=100% /></a></div>
          <div><a href="{{ $cumulative_cases }}"><img src="{{ $cumulative_cases }}" width=40%/></a>
          <a href="{{ $cumulative_cases_log }}"><img src="{{ $cumulative_cases_log }}" width=40%/></a></div>


     </div>

     <div>
   <table>
      <thead>
        <tr>
        <th>Date</th>
        <th>New cases</th>
        <th>Total cases</th>
        </tr>
      </thead>
      <tbody>
          {{ $url := $weekly_case_csv }}
          {{ $sep := "," }}
          {{ range $i, $r := getCSV $sep $url }}
            <tr>
                <td>{{ index $r 0 }}</td>
                <td>{{ index $r 1 }}</td>
                <td>{{ index $r 2 }}</td>
            </tr>
            <br>
          {{ end }}
      </tend>
    </table>
    </div>

     {{ partial "footer" . }}
</body>
</html>